<footer class="bg-black p-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="links">
          <div class="caption">
            <h4 class="text-white">FOLLOW US</h4>
          </div>
          <div class="social-links">
            <ul class="list-unstyled text-white">
              <li>
                <div class="content px-3 py-2">
                  <i class="fa-brands fa-x-twitter me-3"></i>
                  <a href="https://www.x.com" target="_blank" class="text-decoration-none text-white">X</a>
                </div>
              </li>
              <li>
                <div class="content px-3 py-2">
                  <i class="fa-brands fa-dribbble me-3"></i>
                  <a href="https://www.dribbble.com" target="_blank" class="text-decoration-none text-white">Dribbble</a>
                </div>
              </li>
              <li>
                <div class="content px-3 py-2">
                  <i class="fa-brands fa-linkedin-in me-3"></i>
                  <a href="https://www.linkedin.com" target="_blank" class="text-decoration-none text-white">Linkedin</a>
                </div>
              </li>
              <li>
                <div class="content px-3 py-2">
                  <i class="fa-brands fa-github me-3"></i>
                  <a href="https://www.github.com" target="_blank" class="text-decoration-none text-white">GitHub</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form text-white">
          <div class="caption">
            <h4>STAY UPDATED</h4>
          </div>
          <div class="input">
            <form class="my-3">
              <label for="e-input">EMAIL</label>
              <input type="email" id="e-input" class="form-control mb-3" placeholder="example@gmail.com">
              <label for="e-message">Leave A Message</label>
              <textarea id="e-message" placeholder="Your Message" class="form-control"></textarea>
              <button type="button" class="btn btn-danger mt-3">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>